################
#Local_Database#
################
db.sqlite3

#############
#Media Files#
#############
media/
images/

########
#Django#
########
__pycache__/
migrations/

########
#VSCODE#
########
\.vscode/*

