################
#Local_Database#
################
db.sqlite3

#############
#Media Files#
#############
media/
images/

########
#Django#
########
*/settings.py
__pycache__/

migrations/

########
#VSCODE#
########
\.vscode/*

