{% extends "music/base.html" %}


{% block body %}


    <div class="all-albums">
            <br><br><br><br>

            
            <button type="button" class="btn btn-primary">
                <a href="{% url 'music:add' %}" style="color:white;">
                    Add a new album
                </a>
            </button>
            <br><br>
           
        <div class="row">
            
            
            {% for album in albums %}
                
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="left:10px;"> 
                        <div class="thumbnail">
                            <div class="album">
                                <a href="{% url 'music:detail' album.id %}">
                                    <img src="{{album.album_logo.url}}" alt="">
                                </a>
                                <div class="caption">
                                    <h1>{{album.album_title}}</h1>
                                    <h3>{{album.artist}}</h3>
                                    <b>Shared By {{album.owner}}</b><br>
            
                                    <!-- View Details -->
                                    <a href="{% url 'music:detail' album.id %}">
                                            <button type="button" class="btn btn-primary btn-md">View details</button>
                                    </a>
            
                                    <!-- Delete Album -->
                                    <form action="{% url 'music:delete' album.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                                    <input type="hidden" name="album_id" value="{{ album.id }}" />
                                                    <button type="submit" class="btn btn-default btn-md">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                    </form>
                                    <!-- Favourite -->
                                    <button type="button" class="btn btn-default btn-md">
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                    </button>
                                </div>
                                

                            </div>
                            
                        </div>
                        
                </div>
                
                
            {% endfor %}
                
            
        </div>
        

    </div>
    
{% endblock body %}
    